# Ignore everything
*

# Except these
!.gitignore
!.github/
!.gitignore
!README.md
!LICENSE
!CHANGELOG.md
!modinfo.ini
!package.json
!package-lock.json
!.releaserc
!dist
!dist/Better-Hunter-Highlights.zip

!reframework/autorun/better_hunter_highlights.lua
!assets
!assets/submenu1.png
!assets/submenu2.png
!assets/table.png

!.github
!.github/workflows
!.github/workflows/release.yml
