# Ignore everything
*

# Except these
!.gitignore
!.github/
!.gitignore
!README.md
!LICENSE
!modinfo.ini

!reframework/autorun/better_hunter_highlights.lua
!assets
!assets/submenu1.png
!assets/submenu2.png
!assets/table.png